@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@200..900&display=swap";
@import "./system.css";
@import "./style.media.css";

:root {
    /* Colors */
    --greenDark: #01473E;
    --greenBlack: #005E53;
    --greenMain: #007D6E;
    --greenMainLight: #33978B;
    --greenMainLighter: #66B1A8;
    --greenLight: #99CBC5;
    --grennlighter: #CCE5E2;
    --greenWhite: #E6F3F1;

    /* Fonts */
    --montserrat: Montserrat, Arial, sans-serif;

    --shadow1: 0px 10px 10px rgba(0, 0, 0, 0.10);
    --sahdow2: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
}

* {
    font-family: var(--montserrat);
}

body {
    margin: 0;
}

/* Header */
header  {
    background-color: #02A28F;
    padding: 14px 36px;
    flex-shrink: 0;
}

header .menu {
    display: none;
    padding: 0;
    font-size: 30px!important;
}

header .logo {
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
}

header a {
    margin: 0 10px;
    color: #FFFFFF;
    font-family: var(--montserrat);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    line-height: normal;
    position: relative;
}

header i {
    color: #FFFFFF;
    margin: 0 10px;
    font-size: 17px;
    flex-shrink: 0;

}

header a::after {
    content: "";
    height: 2px;
    background-color: white;
    position: absolute;
    left: 1px;
    bottom: -3px;
    width: 0;
    transition: 0.2s;
}

header a:hover::after {
    width: 99%;
}
